body {
	background: #222d22;
}

.claps-count {
	font-size: 8em;
	text-align: center;
	color: aliceblue;
}

button{
  background: #fb3613;
  box-shadow: 0 8px #8c2e1d;
  border-radius: 50%;
  color: aliceblue;
  width: 150px;
  height: 150px;
  border: 1px;
  font-size: 25px;
  margin: 5% auto;
  display: block;
  cursor: pointer; 
  outline: none;
  margin-top: 100px;
}

button:hover{
  box-shadow: 0px 5px #8c2e1d;
  top: 2px; 
}

button:active{
  box-shadow: 0px 0px #8c2e1d;
  top: 5px; 
}